@import '../../../modules/modal/src/style/modal';

.event-new {
	@include modal-box;
	display: block;

	.event-new__modal-box {
		@include modal-box__dialog;
		width: 750px;

		.event-new__content {
			@include modal-box__content;

			.event-new__header{
				@include modal-box__header;
				border-bottom: none;
				padding: 8px;

				.event-new__title-banner{
					position: absolute;
					top: 0;
				    left: 0;
					font-weight: bold;
				    padding: .5em 1em;
				    -webkit-transform: translate(-30px, -50%);
				    -ms-transform: translate(-30px, -50%);
				    transform: translate(-30px, -50%);
				    color: #fff;
				    background: #FF5252;

				    &:before {
				    	position: absolute;
					    bottom: -20px;
					    left: 0;
					    content: '';
					    border-top: 10px solid rgb(200, 50, 50);
					    border-right: 15px solid rgb(200, 50, 50);
					    border-bottom: 10px solid transparent;
					    border-left: 15px solid transparent;
				    }
				}
			}
			.event-new__body{
				@include modal-box__body;
				height: 500px;

				.event-new__tabs{
					.event-new__tab{
						float: left;
						width: 33.333333%;
						text-align: center;
						color: #ccc;
						cursor: pointer;

						&.event-new__tab--selected {
							color: #4CAF50;
						}

						.event-new__devider {
							padding: 0 8px;
						}
						
						.event-new__tab-icon{
							font-size: 28px;

							&.event-new__tab-icon--calendar {
								margin-left: 4px;
							}
						}
						.event-new__tab-name{
							margin-bottom: 4px;
						}
					}
				}
				.event-new__tabview{
					.event-new-base{
						margin-top: 20px;
						
						.event-new-base__base{
							width: 45%;
							float: left;

							.event-new-base__name{
								margin-bottom: 20px;
							}

							.event-new-base__type{
								margin-bottom: 20px;
							}

							.event-new-base__code{
								margin-bottom: 20px;
							}

							.event-new-base__education-org{

							}

							.event-new-base__max-person-num{

							}
						}
						.event-new-base__additional{
							width: 45%;
							float: right;
						}
					}
					.event-new-place-and-datetime{
						margin-top: 20px;

						.event-new-place-and-datetime__datetime{
							width: 45%;
							float: left;
							.event-new-place-and-datetime__start-datetime{
								margin-bottom: 20px;
							}
							.event-new-place-and-datetime__finish-datetime{
								
							}
						}
						.event-new-place-and-datetime__place{
							width: 45%;
							float: right;
						}
						
					}
					.event-new-tutors{
						margin-top: 20px;

						.lector-types{
							display: inline-block;
						}

						.lector-types-inner{
							display: none;
							margin-left: 20px;

							&.lector-types-inner--display {
								display: inline-block;
							}
						}
						.lector-types-outer{
							display: none;
							margin-left: 20px;

							&.lector-types-outer--display {
								display: inline-block;
							}
						}
						.lector-types-inner-list-search{
							display: none;
							margin-top: 16px;
							width: 45%;

							&.lector-types-inner-list-search--display {
								display: block;
							}
						}
						.lector-types-inner-add-search{
							display: none;
							margin-top: 16px;
							width: 45%;

							&.lector-types-inner-add-search--display {
								display: block;
							}
						}

						.lector-types-outer-list-search{
							display: none;
							margin-top: 16px;
							width: 45%;

							&.lector-types-outer-list-search--display {
								display: block;
							}
						}
						.lector-types-outer-add{
							display: none;
							margin-top: 16px;
							width: 45%;

							&.lector-types-outer-add--display {
								display: block;
							}
						}
					}
				}
			}
			.event-new__footer{
				@include modal-box__footer;

				.event-new__prev-button{
					float: left;
					padding: 6px 16px 6px 10px;
					display: none;

					&.event-new__prev-button--display {
						display: inline-block;
					}

					.event-new__icon-prev {
						vertical-align: middle;
						margin-right: 16px;
					}
				}

				.event-new__next-button{
					padding: 6px 10px 6px 16px;

					.event-new__icon-next {
						vertical-align: middle;
						margin-left: 16px;
					}
				}
			}
		}
	}
}