@import '../../../modules/modal/src/style/modal';
@import '../../../../../style/sass/variables';

.event-error-box {
	@include modal-box;
	display: block;

	position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(91, 91, 91, 0.26);
    z-index: 100;
    top: 0;
    overflow-x: hidden;

	.event-error {
		@include modal-box__dialog;

		margin: 10px auto;
	    position: absolute;
	    top: 10%;
	    left: 12.5%;
	    width: 75%;
	    z-index: 3;

		.event-error__content {
			@include modal-box__content;

			.event-error__header{
				@include modal-box__header;
				border-bottom: none;
			}
			.event-error__body{
				@include modal-box__body;
				height: 500px;
				background-image: url($rootPath + "/build/icons/event_not_found.png");
				background-repeat: no-repeat;

				.event-error__error-text{
					width: 45%;
					margin-left: 55%;
					color: #565a5c;

					.event-error__oops{
					    font-size: 4em;
				        font-weight: 900;
				        margin-bottom: 15px;
				        line-height: 1.1;
					}
				}
			}
			.event-error__footer{
				@include modal-box__footer;
			}
		}
	}
}