@import '../../../modal/src/style/modal';

.select-items {
	@include modal-box;

	.select-items__modal-box {
		@include modal-box__dialog;
		width: 1050px;

		.select-items__content {
			@include modal-box__content;
			.select-item__header{
				@include modal-box__header;
			}
			.select-item__body{
				@include modal-box__body;
				height: 400px;
				overflow-x: auto;

				.loading {
				    width: calc(100% - 15px);
				    height: calc(100% - 15px);
				}
			}
			.select-item__footer{
				@include modal-box__footer;
			}
		}
	}

	.filters {
		.filters__searchBar {
			display: inline-block;
		}

		.filters__searchBar-input {
			background-color: #fff;
    		color: #000;
		}

		.filters__paging {
			display: inline-block;
		
			.input {
				outline: 0;
			}
		}

		.filters__notValid {
			border: 1px solid red;
		}
	}

	.caret{
		display: inline-block;
	    width: 0;
	    height: 0;
	    margin-left: 2px;
	    vertical-align: middle;
	    border-top: 4px dashed;
	    border-right: 4px solid transparent;
	    border-left: 4px solid transparent;
	    transition: all 0.3s ease-out;

		&.rotate {
			transform: rotate(180deg);
		}
	}

	.items {
		width: 70%;
		float: left;
		border-right: 1px solid #ccc;

		.items__header {
			.header-row {
				.header-row__col-name {
					margin-right: 5px;
				}
			}
		}

		.items__body{
			font-size: 13px;
		}

		.body-row {
			.body-row__col {
				padding: 8px 0;
			}
		}
	}

	.selected-items {
		font-size: 13px;
		width: 30%;
		float: right;
	}
}