@import '../../../modal/src/style/modal';

.select-items {
	@include modal-box;

	.select-items__modal-box {
		@include modal-box__dialog;
		width: 1050px;

		.select-items__content {
			@include modal-box__content;
			.select-item__header{
				@include modal-box__header;
			}
			.select-item__body{
				@include modal-box__body;
				height: 400px;
			}
			.select-item__footer{
				@include modal-box__footer;
			}
		}
	}

	.filters {
		margin-bottom: 20px;
		.filters__searchBar {
			display: inline-block;
		}

		.filters__searchBar-input {
			background-color: #fff;
    		color: #000;
		}

		.filters__paging {
			display: inline-block;
		    vertical-align: top;
		    margin-left: 16px;
		    
		
			.page {
				outline: 0;
			    height: 32px;
			    line-height: 32px;
			    margin: 0 8px;
			    text-align:center;
			    float:left;
			    width:50%;
			}
			.pages-count {
				text-align:center;
				padding:9px;
			}
		}

		.filters__notValid {
			border: 1px solid red;
		}
	}

	.selected-items {
		font-size: 13px;
		width: calc(30% - 5px);
		float: right;
		height: calc(100% - 30px);
		overflow-y: auto;
		overflow-x: hidden;

		.item {
			padding: 4px;
			position: relative;

			.item__button{
				width: 8%;
				font-size: 10px;
				margin-right: 5px;
			}

			.item__text {
				display: inline-block;
				width: calc(92% - 5px);
			}
		}
	}

	.items-wrapper {
		position: relative;
		width: 70%;
		height: calc(100% - 50px);
		overflow-y: auto;
		overflow-x: hidden;
		border-right: 1px solid #ccc;
		float: left;

		.items-wrapper__header {
			table-layout: fixed;
			width: 98.3%;

			.header-row {
				th:first-child {
					width: 23px;
				}
				.header-row__col-name {
					margin-right: 5px;
				}
			}
		}

		.items-wrapper__body {
			.items {
				border-spacing: 0;
    			border-collapse: collapse;
				.items__body{
					font-size: 13px;
				}

				.body-row {
					&.body-row--selected {
						background-color: #ccc;
					}
					.body-row__col {
						padding: 8px 5px;
					}
					.body-row__add-btn {
						font-size: 10px;
						margin-right: 5px;
					}
				}
			}
		}
	}
}