.events {
    font-family: sans-serif;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    height: 100%;

    a {
        color: #0097A7;
    }

    * {
        box-sizing: border-box;
    }

    .container{
        width: 1200px;
        margin: 0 auto;
        height: 720px;
    }

    .event-btn {
        color: #ff5252;
        border: 1px solid #ff5252;
        outline: none;
        background-color: #fff;
        cursor: pointer;
        padding: 5px 8px;
        text-decoration: none;

        &:hover, &:active, &:visited {
            text-decoration: none;
            color: #ff5252;
        }

        &.event-btn--reverse {
            background-color: #ff5252;
            color: #fff;
        }
    }

    .oneline {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        transition: all 0.3s ease-out 0.02s;

        &.caret--rotate {
            transform: rotate(180deg);
        }
    }

    .alert {
        
        padding: 5px;
        margin-bottom: 20px;
        border: 1px solid transparent;

        &.alert--info {
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
        }
        
    }

    .close-btn {
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
        -webkit-appearance: none;

        float: right;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .2;
        filter: alpha(opacity=20);
        outline: none;
        text-decoration: none;

        &:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            opacity: .5;
            filter: alpha(opacity=50);
        }
    }

    .icon {
        display: block;
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 100%;

        width: 80px;
        height: 80px;

        &.icon--type--webinar {
            background-image: url("/build/icons/webinar.png");
        }

        &.icon--type--fulltime {
            background-image: url("/build/icons/teacher.png");
        }

        &.icon--type--webinar-record {
            background-image: url("/icons/webinar_record.png");
        }

        &.icon--small {
            width: 20px;
            height: 20px;
        }

        &.icon--big {
            width: 152px;
            height: 152px;
        }
    }

    .overlay-loading {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(91,91,91,.26);
        z-index: 150;
        top: 0;
        left: 0;
        display: none;

        &:before {
            content: "";
            position: absolute;
            background-image: url("/build/icons/loading6.gif");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
            display: block;
            width: 32px;
            height: 32px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.overlay-loading--show {
            display: block;
        }
    }

    .toggle{
      display:none;
      &-btn{
        display: inline-block;
      }
      &__checkbox{
        position:relative;
        overflow:hidden;
        display:block;
        background:linear-gradient(#ddd, #eee);
        border-radius:12px;
        width:40px;
        height:24px;
        cursor:pointer;
        transition:background .2s ease;

        &:after
        {
          content:'';
          position:absolute;
          left:1px;
          height:22px;
          width:22px;
          top:1px;
          border-radius:100%;
          background:linear-gradient(#ddd, #aaa);
          transition:all .2s ease;
          z-index:2;
        }
        &:before
        {
          content:'';
          position:absolute;
          left:-40px;
          top:0px;
          width:40px;
          border-radius:12px;
          height:24px;

          background:linear-gradient(#4AC94D, #5FE462);      
          z-index:1;
          transition:all .2s ease;
        }
      }
      &:checked ~ &__checkbox:before{
        left:0px;
      }
      &:checked ~ &__checkbox:after{
        left:17px;
      }
    }
}









