html, body{
	font-family: sans-serif;
	font-size: 100%;
	margin: 0;
	box-sizing:border-box;
	height: 100%;
};

.container{
	width: 1200px;
	margin: 0 auto;
	height: 720px;
}

.event-btn {
	color: #ff5252;
    border: 1px solid #ff5252;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.close-btn {
	padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;

	float: right;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);

    &:hover {
    	color: #000;
	    text-decoration: none;
	    cursor: pointer;
	    opacity: .5;
	    filter: alpha(opacity=50);
    }
}