$elementsColor: #FF5252;
$headerColor: #646464;

.side-mnu{
  width: 235px;
  display: inline-block;
  height: 100%;
  box-shadow: 2px 2px 10px 0 lighten($headerColor, 20%);

  .side-mnu__header{
    padding: 0 16px;
    cursor: pointer;
    line-height: 60px;
    color: #FFF;
    background-color: $headerColor;
    font-size: 1.1em;
    margin: 0;
  }
  .side-mnu__body {
    background-color: #fff;
    height: calc(100% - 60px);

    .side-mnu__tab-label{
      display: block;
      font-weight: bold;
      display: block;
      padding: 16px 16px;
      cursor: pointer;

      &:first-of-type{
        padding-top: 32px;
      }

      &.side-mnu__tab-label--selected {
        color: red;
      }
    }
  }
}


.backward-icon{
  font-size: 1.5em;
}

.header-txt{
  padding-left: 16px;
}
.side-mnu__tab{
  display: none; 
  &-collaborators, &-requests{
    height: 100%;
  }
}

.side-mnu__tab--requests:checked ~ .tab-requests{
  display: block;
}

.calendar-table__wrapper{
  width: 100%;
  box-sizing:border-box;
}
.edit-event{
  &-table{
    position: relative;
    overflow-y:scroll; 
    width: 100%;
    height: 85%;
    margin-top: -35px;
    &--requests{
               height:69%;
    }
    &-wrapper{
      display: table;
      border-collapse: collapse;
      width: 100%;

      &--header{
        width: calc(100% - 17px);
        z-index: 50;
        position: relative;
        background: #fff;
      }
    }
    &__header-row, &__row{
      display: table-row;
      border-bottom: 1px solid #ddd;
    }
    &__header-row{
      text-align: center;
    }
    &__cell{
      display:table-cell;
      height: 32px;
      padding: 8px;
      vertical-align: middle;
      box-sizing:border-box;

       &:last-child{
          text-align:center;
          & .event-btn{
            font-size: 1.4em;
          }
       }
       &--toggle{
          width:1%;
       }
       &--name{
          width:30%;
       }
       &--position{
          width: 20%;
       }
       &--subdivision{
          width: 25%;
       }
       &--status{
          width:15%;
       }
       &--fullname{
          width: 85%;
       }
    }
  }
}
.heading{
  margin: 0;
  padding: 8px;
  text-transform: uppercase;
  font-weight: bold;
}
.inputs{
  margin-bottom: 16px;
}


.side-mnu__tab-collaborators-buttons,
.side-mnu__tab-respons-buttons{
  float: right;
  margin-bottom: 16px;
}
.respons-half{
  height: 45%;
  margin-bottom:16px;
  overflow-y:hidden;
}

