.event-edit-tutors {
    margin-top: 20px;
	height: calc(100% - 40px);

	.tutors {
		height: 45%;

		.tutors__description{
			float: right;
			margin-top: 10px;
		}
		.tutor-list {
			height: calc(100% - 47px);
		}
	}
	
	.lectors {
		height: 45%;
		margin-top: 40px;

		.lectors__description{
			float: right;
			margin-top: 10px;
		}

		.lector-list {
			height: calc(100% - 47px);
		}
	}
	
}