.event-edit-testing {
	margin-top: 20px;
	height: calc(100% - 40px);

	.event-edit-testing__tests{
		height: 50%;
		.event-edit-testing__prev-tests{
			
			.event-edit-testing__prev-tests-add{
				display: none;

				&.event-edit-testing__prev-tests-add--display {
					display: block;
					margin-bottom: 20px;

				}

				.prev-tests{

				}
			}
		}
		.event-edit-testing__post-tests{
			margin-bottom: 20px;
			
			.event-edit-testing__post-tests-add {
				display: none;

				&.event-edit-testing__post-tests-add--display {
					display: block;
				}

				.post-tests {

				}
			}
		}
	}

	.buttons {
		.buttons__re-active{
			margin-right: 10px;
			display: none;

			&.buttons__re-active--display{
				display: inline-block;
			}
		}
	}
	.testing-list{
		height: calc(50% - 40px);
	}
}