.event-edit-container {
  height: calc(100% - 60px);
  background-color: #e3e3e3;


  .buttons {
    display: inline-block;

    .buttons__checkbox {
      display: none;
      vertical-align: middle;

      &.buttons__checkbox--display {
        display: inline-block;
      }
    }

    .buttons__dropdown{
      margin-right: 16px;
      display: none;
      vertical-align: middle;
      color: #444;

      &.buttons__dropdown--display {
        display: inline-block;
      }
    }

    .buttons__funcs{
      display: inline-block;

      .buttons__upload{
        height: 29px;
        line-height: 29px;
        vertical-align: middle;
        margin-right: 16px;
        color: #444;

        .buttons__upload-icon{
            color: #444;
        }
      }

      .buttons__sort{
        margin-right: 16px;
        display: none;
        vertical-align: middle;
        color: #444;

        &.buttons__sort--display {
          display: inline-block;
        }
      }

      .buttons__add{
        margin-right: 8px;
        height: 29px;
        line-height: 29px;
        vertical-align: middle;
        color: #ff5252;
      }
      .buttons__remove{
        margin-right: 8px;
        height: 29px;
        line-height: 29px;
        vertical-align: middle;
        color: #ff5252;
        display: none;

        &.buttons__remove--display{
          display: inline-block;
        }
      }
    }
  }

  .icon {
    display: inline;
    width: auto;
    height: auto;
    font-size: 18px;
    vertical-align: middle;
    line-height: 30px;
    vertical-align: middle;
  }

  .event-edit {
    height: 100%;
    background-color: #fff;

    .event-edit__wrapper {
  		height: 100%;
  		margin: 0 auto;
  		padding: .1px 16px;
      font-size: 14px;
    }
  }
}
