.event-edit-requests {
	margin-top: 20px;
	height: calc(100% - 40px);

	.is-date-requests {
	
		/* .icon-clock {
			color: #727272;
			margin-top: 10px;
			padding: 5px;
		} */
		.date {
			/* position: relative; */
			margin-bottom: 20px;
			padding: 5px;
			width: 50%;
			margin-left: 50px;
			display: none;

			&.date--display {
				display: block;
			}

			/* .date__overflow {
				position: absolute;
				top: 0;
				left: 0;
			    width: 100%;
			    height: 100%;
			    background-color: rgba(91, 91, 91, 0.26);
			    display: none;
			    z-index: 1;

			    &.date__overflow--display {
			    	display: block;
			    }
			} */

			.date__start {
				margin-bottom: 10px;
				.date__start-description{
					width: 20%;
					display: inline-block;
					text-align: right;
					padding-right: 16px;
				}
				.date__calendar{
					display: inline-block;
				}
			}

			.date__finish {
				.date__finish-description{
					width: 20%;
					display: inline-block;
					text-align: right;
					padding-right: 16px;
				}

				.date__calendar {
					display: inline-block;
				}
			}
		}
	}

	.request-list {
		height: 50%;
		.request-list__statuses{

	    	.request-list__status-added {
	    		color: green;
	    		display: none;
	    		padding: 10px;

	    		&.request-list__status-added--display{
	    			display: inline-block;
	    		}
	    	}

	    	.request-list__status-removed{
	    		color: #ff5252;
	    		display: none;
	    		padding: 10px;

	    		&.request-list__status-removed--display{
	    			display: inline-block;
	    		}
	    	}
	    }

	    .request-list__buttons {
	    	display: none;

	    	&.request-list__buttons--display {
	    		display: block;
	    	}

	    	.request-list__add-button {
	    		margin-right: 8px;
	    		font-size: 10px;
	    		color: green;
	    		border: 2px solid green;
	    	}
	    	.request-list__remove-button{
	    		border: 2px solid #ff5252;
		    	font-size: 10px;
		    }
	    }
	}
}