.event-edit-collaborators {
	margin-top: 20px;
	height: calc(100% - 40px);

	.buttons {
		.buttons__dropdown{
			display: none;
			margin-right: 32px;
			
			&.buttons__dropdown--display {
				display: inline-block;
			}
		}

		.buttons__checkbox {
			display: none;

			&.buttons__checkbox--display {
				display: inline-block;
			}
		}

		.buttons__funcs{
			display: inline-block;

			.buttons__add{
				margin-right: 10px;
				color: #ff5252;
				line-height: 27px;
    			vertical-align: middle;
			}
			.buttons__remove{
				margin-right: 10px;
				display: none;
				line-height: 27px;
    			vertical-align: middle;
				color: #ff5252;

				&.buttons__remove--display{
					display: inline-block;
				}
			}
			.buttons__notificate{
				display: none;
				line-height: 27px;
    			vertical-align: middle;
				color: #ff5252;

				&.buttons__notificate--display{
					display: inline-block;
				}
			}
		}
		
	}
	.collaborators-list{
		height: calc(100% - 40px);
	}
}