.event-edit-testing {
	margin-top: 20px;
	height: calc(100% - 40px);

	.event-edit-testing__tests{
		height: 45%;

		.all-tests-list{
			height: calc(100% - 57px);
		}
	}

	.testing{
		height: 45%;
		margin-top: 40px;

		.buttons {
			width: 70%;
			display: inline-block;

			.buttons__sort{
				display: none;

				&.buttons__sort--display {
					display: inline-block;
				}
			}
		}

		.testing__description{
			width: 30%;
			display: inline-block;
			text-align: right;
		}

		.testing-list{
			height: calc(100% - 57px);
		}
	}
	
}