.event-edit-files {
	margin-top: 20px;
	height: calc(100% - 40px);

	.event-edit-files__upload{
		.event-edit-files__upload-icon{
			vertical-align: middle;
		    font-size: 20px;
		    width: 28px;
		}
		.event-edit-files__upload-text{

		}
	}

	.event-edit-files__uploading{
		display: none;
		content: "";
	    background-image: url("/build/icons/loading6.gif");
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: 100%;
	    width: 20px;
	    height: 20px;
	    margin-left: 10px;
	    vertical-align: middle;

		&.event-edit-files__uploading--display {
			display: inline-block;
		}
	}

	.event-edit-files__list{
		margin-top: 10px;
		
		.event-edit-files__file {

			.event-edit-files__file-label{
				padding-left: 10px;
			}
		}
	}
}