.event-edit-tutors {
    margin-top: 20px;
    height: calc(100% - 20px);

	.tutors {
		height: calc(50% - 30px);

		.tutors__description{
			float: right;
			margin-top: 10px;
		}
		.tutor-list {
			height: calc(100% - 49px);
		}
	}
	
	.lectors {
		height: calc(50% - 30px);
    	margin-top: 40px;

		.lectors__description{
			float: right;
			margin-top: 10px;
		}

		.lector-list {
			height: calc(100% - 49px);
		}
	}
	
}