.event-edit-container {
  height: calc(100% - 60px);
  background-color: #E3E3E3;

  .event-edit {
    height: 100%;
    background-color: #fff;

    .event-edit__wrapper {
  		height: 100%;
  		margin: 0 auto;
  		padding: .1px 16px;
      font-size: 14px;
    }
  }
}
