@import '../../../modules/modal/src/style/modal';

.new-lector {
    @include modal-box;
    display: block;

    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(91, 91, 91, 0.26);
    z-index: 100;
    top: 0;

    .new-lector__modal-box {
        @include modal-box__dialog;

        margin: 10px auto;
        position: absolute;
        top: 10%;
        left: 25%;
        width: 50%;
        z-index: 3;

        .new-lector__content {
            @include modal-box__content;

            .new-lector__header{
                @include modal-box__header;
            }

            .new-lector__body{
                @include modal-box__body;
                height: auto;
                overflow: auto;

                .new-lector__first-name{

                }

                .new-lector__last-name{

                }

                .new-lector__middle-name{

                }

                .new-lector__email{

                }

                .new-lector__company{

                }
            }

            .new-lector__footer{
                @include modal-box__footer;
            }
        }
    }
}