@import '../../../modules/modal/src/style/modal';

.reject-reason-info {
    @include modal-box;
    display: block;

    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(91, 91, 91, 0.26);
    z-index: 100;
    top: 0;

    .reject-reason-info__modal-box {
        @include modal-box__dialog;
        max-width: 450px;

        margin: 10px auto;
        position: absolute;
        top: 10%;
        left: 30%;
        width: 40%;
        z-index: 3;

        .reject-reason-info__content {
            @include modal-box__content;
            border-radius: 0px;
            .reject-reason-info__header{
                @include modal-box__header;
            }
            .reject-reason-info__body{
                @include modal-box__body;
                height: auto;
                overflow: auto;

                .reject-reason-info__button{
                    margin-left: 31px;
                    float: right;
                }
            }
            .reject-reason-info__footer{
                @include modal-box__footer;
            }
        }
    }
}