.input-calendar {
  width: 100%;

  .input-calendar__date {
    width: 100%;
    padding: 4px;
  }

  .input-calendar__calendar{
    display: none;
    
    &.input-calendar__calendar--show {
      display: block;
      position: absolute;
      background-color: #fff;
    }
  }
}